@model AllSubcategoriesViewModel

@{
    this.ViewData["Title"] = "All subcategories";
    int i = 1;
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));

}

<div class="section-search">
    @if (this.TempData.ContainsKey("Message"))
    {
        <div class="alert alert-success"><i class="fas fa-check-circle"></i> @this.TempData["Message"]</div>
    }
    <form method="get" class="mt-3 mb-3 ">
        <div class="row d-flex justify-content-between">

            <div class="form-group col-12 col-md-4">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="categories" class="form-control">
                    <option>Изберете подкатегория</option>
                </select>
            </div>

            <div class="form-group col-12 col-md-4">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" />
            </div>
            <div class="form-group mt-lg-4 col-12 col-md-3 mt-md-3">
                <button type="submit" class="btn_search mt-2"><i class="fas fa-search"></i> Търси</button>
            </div>
        </div>

    </form>
</div>
<div class="section-all">
    <div class="row mb-5 mt-5">
        <h2 class="text-white-50 m-0 ml-4 ml-md-3 col-12 col-md-6"><i class="fas fa-network-wired"></i> Всички подкатегории</h2>
        <form method="get" class="mt-3 mb-3 col-12 ml-4 col-md-5">
            <button class="btn btn-primary text-black" asp-controller="Subcategories" asp-action="CreateSubcategory"><img src="~/resources/add.png" class="icon-add" /> Добави нова</button>
        </form>

    </div>

    <table class="table table-hover  table-striped table-responsive-sm">
        <thead>
            <tr class="text-white-50">
                <th scope="col">#</th>
                <th scope="col">Подкатегория</th>
                <th scope="col">Категория</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subcategory in Model.AllSubcategories)
            {
                <tr class="text-white-50">
                    <td>@i</td>
                    <td>@subcategory.Name</td>
                    <td>@subcategory.CategoryName</td>
                    <td>
                        <form method="get" class="mt-0">
                            <button asp-controller="Subcategories" asp-action="Edit" asp-route-id="@subcategory.Id" class="btn_edit"><i class="fas fa-edit"></i> Редактирай</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" class="mt-0">
                            <button class="btn_delete" asp-controller="Subcategories" asp-action="Delete" asp-route-id="@subcategory.Id" onclick="return confirm('Сигурен ли сте, че искате да изтриете тази подкатегория?');"><i class="far fa-trash-alt"></i> Изтрий</button>
                        </form>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<partial name="_PagingPartial" model="@Model" />
