@model PersonalBudget.Web.ViewModels.Partners.AllPartnersViewModel

@{
    this.ViewData["Title"] = "All partners";
    int i = 1;
    var towns = this.Model.Towns.Select(x => new SelectListItem(x.Value, x.Key));
}
<div class="section-all--medium">
    @if (this.TempData.ContainsKey("Message"))
    {
        <div class="alert alert-success"><i class="fas fa-check-circle"></i> @this.TempData["Message"]</div>
    }
</div>

<div class="section-all">
    <form method="get" class="mt-0 mb-5">
        <div class="row d-flex justify-content-between">
            <div class="form-group col-12 col-md-4">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" />
            </div>
            <div class="form-group col-12 col-md-4">
                <label asp-for="TownId"></label>
                <select asp-for="TownId" asp-items="towns" class="form-control">
                    <option selected="">Всички</option>
                </select>
            </div>
            <div class="form-group mt-4 col-12 col-md-3">
                <button type="submit" class="btn_search  float-right"><i class="fas fa-search"></i> Търси</button>

            </div>
        </div>
    </form>


</div>



<div class="section-all">
    <div class="row justify-content-around">
        <h2 class="text-white-50"><i class="far fa-handshake"></i> Всички контрагенти</h2>
        <form method="get" class="mb-5 mt-0">
            <button class="btn btn-primary" asp-controller="Partners" asp-action="CreatePartner"><img src="~/resources/add.png" class="icon-add" /> Добави </button>
        </form>
    </div>
   

    <table class="table table-hover table-striped table-responsive-sm">
        <thead>
            <tr class="text-white-50">
                <th scope="col">№</th>
                <th scope="col">Контагент</th>
                <th scope="col">Град</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var partner in Model.Partners)
            {
                <tr class="">
                    <td>@i</td>
                    <td>@partner.Name</td>
                    <td>@partner.TownName</td>
                    <td>
                        <form method="get" class="m-0">
                            <button class="btn_edit" asp-controller="Partners" asp-action="Edit" asp-route-id="@partner.Id"><i class="fas fa-edit"></i>Редактирай</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" class="m-0">
                            <button class="btn_delete" asp-controller="Partners" asp-action="Delete" asp-route-id="@partner.Id" onclick="return confirm('Сигурен ли сте, че искате да изтриете този град?');"><i class="far fa-trash-alt"></i>Изтрий</button>
                        </form>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<partial name="_PagingPartial" model="@Model" />
